@page
@model IndexModel
@{
    ViewData["Title"] = "All Quotes";
}

<div class="text-center">
    <h1 class="display-4">All Quotes</h1>
</div>

<a href="CreateQuote" class="btn btn-primary">Add New Quote</a>
<br><br>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Author</th>
            <th>Quote</th>
            <th>Category</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var quote in Model.Quotes)
        {
        <tr>
            <td>@quote.Author</td>
            <td>@quote.Text</td>
            <td>@quote.Category.Name</td>
            <td>
                <form method="post" class="form-inline">
                    <input asp-for="Id" type="hidden" value="@quote.Id" />
                    <a href="UpdateQuote?id=@quote.Id" class="btn btn-outline-secondary">Update</a>&nbsp;
                    <button type="submit" class="btn btn-outline-danger">Delete</button>
                </form>
            </td>
        </tr>
        }
    </tbody>
</table>
